*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

  body {
    margin: 0;
    padding: 0;
    font-family: "raleway", sans-serif;
    background-color: #ffffff;
  }

  p{
    color: #0671Bf;
  }

  /*  Navbar */ 

  .header{
    height: 100px;
  }

  nav {
    background-color: #ffffff;
    color: #0671Bf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-bar{
    position: fixed;
    width: 100%;
    z-index: 9;
  }
  
  .logo {
    font-size: 1.5rem;
    height: 84px;
    width: auto;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-right: 20px;
  }
  
  ul li a {
    color: #0671Bf;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  
  ul li a:hover {
    color: #2c6187;
  }
  
  ul li a.active{
    color: #2c6187;
    font-weight: 600;
  }

  .checkbtn {
    font-size: 30px;
    color: #0671Bf;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }

    .logo {
        height: 70px;
        width: auto;
      }

    
  
    ul {
      position: fixed;
      top: 110px;
      right: -100%;
      background-color: #ffffff;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    ul li {
      margin: 20px 0;
    }
  
    ul li a {
      font-size: 16px;
    }
  
    #check:checked ~ ul {
      right: 0;
    }
  }

  .hero-img{
    width: 100%;
    height: auto;
  }

  .section-div{
    margin: 30px 0px;
    border-top: 2px solid #0671Bf;
    border-bottom: 2px solid #0671Bf;
  }
  .about-us{
    display: flex;
    justify-content: center;
    margin: 0px 25px;
  }

  .about-us-text{
    width: 40%;
    padding: 7px 7px;
    font-family: "raleway", sans-serif;
  }

  .about-us-text h2{
    padding: 18px 0px 5px 0px;
    color: #304b57;
    font-size: 2.6vw;
    font-weight: 700;
  }
  
  .about-us-text p{
    color: #304b57;
    font-size: 1.6vw;
    margin: 0px 0px 7px 0px;
    font-weight: 555;
  }

  .about-us-image{
    width:60%; 
  }

  .about-us-img{
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
  } 

  .left-section{
    padding: 7px 7px 7px 20px;
  }

  .img-text-div{
    position: relative;
  }

  .img-text  {
    position: absolute;
    bottom: 0;
    transform: translate(-50%,-50%);
  }

  .footer-logo{
    font-size: 1.6vw;
  }

  .footer-div{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .footer-inner{
    margin: 12px 0px;
  }

  .footer-inner a{
    font-size: 1.6vw;
    font-weight: 500;
  }